:root{
    --grupo-size: clamp(40px, 18vw, 85px);
}

img{
  height: var(--grupo-size);
}

.group{
    position: relative;
    width: var(--grupo-size);
    height: var(--grupo-size);
    margin: calc(var(--grupo-size) * .25);
}

.fosforo1{
    position:absolute;
    transform:rotate(90deg);
    top:calc(var(--grupo-size) * -0.35);
    left:calc(var(--grupo-size) * .50);
}

.fosforo2{
  position: absolute;
  transform: rotate(180deg);
  top: calc(var(--grupo-size) * 0.1);
  left: calc(var(--grupo-size) * 0.95);
}

.fosforo3{
  position: absolute;
  transform: rotate(270deg);
  top: calc(var(--grupo-size) * 0.55);
  left: calc(var(--grupo-size) * 0.50);
}

.fosforo4{
  position: absolute;
  transform: rotate(0deg);
  top: calc(var(--grupo-size) * 0.1);
  left: calc(var(--grupo-size) * 0.05);
}

.fosforo5{
  position: absolute;
  transform: rotate(45deg);
  top: calc(var(--grupo-size) * 0.1);
  left: calc(var(--grupo-size) * 0.50);
}
